.list {
 position: relative;
 z-index: 0;
 width: 383px;
 height: 500px;

 .bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
   margin-left: 2px;
  }
 }

 .content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 29px;
  box-sizing: border-box;

  .content {
   // height: 100%;
   height: auto;
   
   display: flex;
   flex-wrap: wrap;

   .item {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1/1.3;

    .loader {
     width: 100%;
     height: 100%;
    }

    .view {
     width: 100%;
     height: 100%;
     overflow: hidden;
    }

    .brush {
     position: absolute;
     z-index: 1;
     width: 38px;
     right: 1%;
    }

    img {
     width: 100%;
    }
   }

   .item.selected {
    background-image: url(../../assets/images/UI/Desktop/MainPage/NotebookPage/UIDesktop_MainPage_NotebookPage_SelectionBox.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
   }
  }
 }

 .buttons {
  position: absolute;
  z-index: 100;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  display: flex;
  justify-content: center;
  gap: 73%;

  .btn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
  }

  .prev {
   left: 0;
  }

  .next {
   right: 0;
  }
 }

 @media screen and (max-width: 799px) {
  width: 100%;
  height: auto;

  .bg {
   img {
    margin-left: 0;
    width: 100%;
   }
  }

  .content-container {
   $p-side: 60px;
   padding-left: $p-side;
   padding-right: $p-side;

   .content {
    height: 100%;
    box-sizing: border-box;
    
    .item {
     aspect-ratio: 1/1;
    }
   }
  }

  .buttons {
   z-index: 0;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 100%;

   .btn {
    width: 9vw;
    max-width: fit-content;
   }
  }
 }
}