.pan {
  position: relative;
  left: -7%;
  width: 100%;
  height: 600px;
  overflow: hidden;

  .shadow {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 6%;
    left: 38%;
    opacity: 1;
  }

  @media screen and (max-width: 799px) {
    left: 0;
    height: 94vw;

    .shadow {
      bottom: 1%;
      left: 35%;
    }
  }
}