.bg-setter {
 position: absolute;
 top: 15px;
 left: 22px;
 z-index: 100;
 width: 123px;
 height: 91px;
 transition: all 0.5s;

 .btn {
  position: absolute;
  width: 40px;
  height: 56px;
 }

 .btn.next {
  left: -21px;
  top: 50%;
  transform: translate(0, -50%);
 }

 .btn.prev {
  right: -21px;
  top: 50%;
  transform: translateY(-50%);
 }
 @media screen and (max-width: 799px) {
  width: 21vw;
  height: auto;
  max-width: 123px;
  max-height: 91px;
  .btn {
   width: 37%;
   height: auto;
  }
  .btn.next{
   left: -21%;
  }
  .btn.prev{
   right: -21%;
  }
 }
}