.color-picker {
 position: absolute;
 width: 168px;
 height: 61px;
 z-index: 2;

 .bgr {
  height: 100%;
 }

 .main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  height: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: default;
 }

 #close {
  position: absolute;
  z-index: 200;
  top: -10px;
  left: -10px;
  width: 31px;
  transition: all 1s;
 }
 #close:hover {
  transform: scale(1.5);
 }
}